:root {
  --primary: rgb(255, 227, 176);
  --secondary: #7996C6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary);
  color: var(--secondary);
}

/* phones */
@media screen and (max-width: 480px) {

ul li {
padding: 6px 4px 6px 40px;
}
}

/* large tablets & laptops */
@media screen and (max-width: 1024px) {
  
  ul li {
  padding: 6px 4px 6px 40px;
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  
  ul li {
  padding: 16px 8px 16px 40px;
  }
}


/* colors */
h1 {
  font-size:2rem;
}

ul {
  margin: 6rem 1rem 0 1rem;
  padding: 0;
}

ul li {
background:var(--secondary);
color: var(--primary);
position: relative;
font-size: 18px;
transition: 0.2s;
}

li {
  margin: 1rem;
}

input {
  color: var(--secondary);
  border: none;
  border-radius: 0;
  margin: 0;
  width: 60vw;
  padding: 10px;
  float: left;
  font-size: 16px;
}

#input {
  width: 80vw;
  margin: 0 10vw 0 10vw;
}

.addBtn {
  background: var(--secondary);
  color: var(--primary);
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  padding: 8px;
  width: 10vw;
  font-size: 16px;
}

