:root {
  --primary: rgb(255, 227, 176);
  --secondary: #7996C6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary);
  color: var(--secondary);
}

/* phones */
@media screen and (max-width: 480px) {

}

/* small tablets */
@media screen and (max-width: 768px) {

}

/* large tablets & laptops */
@media screen and (max-width: 1024px) {

}

/* desktop */
@media screen and (min-width: 1025px) {

}


ul {
  margin: 8rem;
  padding: 0;
}

ul li {
position: relative;
padding: 12px 8px 12px 40px;
background:var(--secondary);
color: var(--primary);
font-size: 18px;
transition: 0.2s;
}

li {
  margin: 1rem;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  color: var(--secondary);
}

.addBtn {
  padding: 10px;
  width: 5%;
  background: var(--secondary);
  color: var(--primary);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

#input {
  width: 60vw;
  margin: 0 20vw 0 20vw;
}