:root {
  --primary: rgb(255, 227, 176);
  --secondary: #1f2e48 ;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary);
  color: var(--secondary);
}

:focus {
  outline: 3px dashed red;
}

/* phones */
@media screen and (max-width: 480px) {

  ul li {
  padding: 6px 4px 6px 40px;
    }
    
}

/* large tablets & laptops */
@media screen and (max-width: 1024px) {
  
  ul li {
  padding: 6px 4px 6px 40px;
  }

}

/* desktop */
@media screen and (min-width: 1025px) {
  
  ul li {
  padding: 16px 8px 16px 40px;
  }

}

/* colors */
h1 {
  font-size:2rem;
}

ul {
  margin: 2.5rem 1rem 0 1rem;
  padding: 0;
}

ul li {
  cursor: pointer;
  background:var(--secondary);
  color: var(--primary);
  position: relative;
  font-size: 18px;
  transition: 0.2s;
}

ul li:hover {
  background: rgb(102, 102, 102);
}

li {
  margin: 1rem;
  list-style: none;
}

input {
  color: var(--secondary);
  border: none;
  border-radius: 0;
  margin: 0;
  width: 60vw;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.input {
  width: 80vw;
  margin: 0 10vw 0 10vw;
}

.addBtn {
  background: var(--secondary);
  color: var(--primary);
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  padding: 8px;
  width: 10vw;
  font-size: 16px;
}

/* Close button */

.closeBtn {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 3vh;
  font-size: 1.5em;
  /* background-color: var(--secondary); */
  /* background-color: #f44336; */
  border: none;
}

.closeBtn:hover {
  background-color: #f44336;
  color: white;
}

/* Check Button */

/* .checkBtn {
  position: absolute;
  cursor: pointer;
  top:0;
  left: 0;
  bottom: 0;
  padding: 0 1.8vh;
  font-size: 1.3em;
  background-color: #10d00c;
  border: none;
}

.checkBtn:hover {
  background-color: rgb(0, 0, 0);
} */

/* Adds Strike Out Line When Checked */

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
  list-style: none;
  transition: smooth;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* toggle button */
.toggle {
  background: var(--secondary);
  color: var(--primary);
  display:flex;
  justify-content: center;
  margin-top:5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  padding: 8px;
  width: 50vw;
  font-size: 16px;
}

.toggle.active {
  background-color: var(--primary);
  color: var(--secondary);
}

.hide {
  display:none;
}

/* general CSS */

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.width-40 {
  max-width: 40rem;
}

.width-60 {
  max-width: 60rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.justify {
  justify-content: space-between;
}

/* Filter Task */

.filter {
  display: flex;
  justify-content: space-between;
  margin-top:6rem;
  gap: 1rem;
}

.all {
  cursor: pointer;
  padding: 1.5vh 3vh;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 20px;
}

.active {
  cursor: pointer;
  padding: 1.5vh;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 20px;
}

.done {
  cursor: pointer;
  padding: 1.5vh;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}